<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="'/' + 'home'" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Item detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-img [src]="loadedItem.imageUrl"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="detailName">
          {{ loadedItem.merk + loadedItem.model }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="detailHarga">
          Rp. {{ loadedItem.harga}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="detailStock">
          Tersedia: {{ loadedItem.stock}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
