<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Edit Contact</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Merk</ion-label>
        <ion-input inputmode="text" formControlName="merk"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input inputmode="text" formControlName="model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ImageUrl (for more than one image, separated by commas)</ion-label>
        <ion-textarea inputmode="text" formControlName="imageUrl"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Jenis Produk</ion-label>
        <ion-input [disabled]="true" inputmode="text" formControlName="jenis"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Harga</ion-label>
        <ion-input inputmode="text" formControlName="harga"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input inputmode="text" formControlName="stock"></ion-input>
      </ion-item>
      <!--      detail cpu-->
      <ion-grid *ngIf="itemData.jenis === 'CPU'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Base clock</ion-label>
              <ion-input inputmode="text" formControlName="baseClock"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Boost clock</ion-label>
              <ion-input inputmode="text" formControlName="boostClock"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Core count</ion-label>
              <ion-input inputmode="number" formControlName="coreCount"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Thread count</ion-label>
              <ion-input inputmode="number" formControlName="threadCount"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--      detail ram-->
      <ion-grid *ngIf="itemData.jenis === 'RAM'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Speed</ion-label>
              <ion-input inputmode="text" formControlName="speed"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Size</ion-label>
              <ion-input inputmode="text" formControlName="size"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--      detail motherboard-->
      <ion-grid *ngIf="itemData.jenis === 'Motherboard'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Chipset</ion-label>
              <ion-textarea inputmode="text" formControlName="chipset"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Compatible to</ion-label>
              <ion-textarea inputmode="text" formControlName="toMerk"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button [disabled]="!editForm.valid" type="submit" expand="full" color="secondary">Submit
    </ion-button>
  </form>
</ion-content>
